@import 'styles/settings/init';
@import 'include-media/dist/_include-media.scss';

.cart {
    $s: &;
    margin-top: rem(100);
    margin-bottom: rem(100);
    
    @include media('<=xl') {
        margin-top: rem(50);
        margin-bottom: rem(50);
    }
    
    &--sale {
        #{$s}__wrapper {
            border-bottom: rem(8) solid $sale;
        }
        
        #{$s}__price-box-price {
            color: $sold;
            text-decoration: line-through;
        }
        
        #{$s}__price-box-sale-price {
            color: $sale;
        }
        
        #{$s}__button {
            background: $sale;
            color: $white;
            
            &:hover, &:focus {
                background: $white;
                color: $sale;
            }
        }
    }
    
    &--sold_out {
        #{$s}__wrapper {
            border-bottom: rem(8) solid $sold;
        }
        
        #{$s}__price-box-price {
            color: $sold;
            text-decoration: line-through;
        }
        
        #{$s}__price-box-sale-price {
            color: $sold;
        }
        
        #{$s}__button {
            background: $sold;
            color: $white;
        }
    }
    
    &--upcoming {
        #{$s}__wrapper {
            border-bottom: rem(8) solid $upcoming;
        }
        
        #{$s}__price-box-price {
            color: $upcoming;
        }
        
        #{$s}__price-box-sale-price {
            color: $upcoming;
        }
        
        #{$s}__button {
            background: $upcoming;
            color: $white;
        }
    }
    
    &--standard {
        #{$s}__button {
            background: $dark;
            color: $white;
            
            &:hover, &:focus {
                background: $white;
                color: $dark;;
            }
        }
    }
    
    &--error {
        color: $sale;
    }
    
    &__title {
        margin-bottom: rem(50);
    }
    
    &__items {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    
    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(35);
        border-radius: rem(10);
        padding: rem(25);
        box-shadow: $standard-shadow;
        
        @include media('<=xl') {
            flex-flow: column nowrap;
            justify-content: center;
        }
        
        &-name {
            cursor: pointer;
            margin-bottom: rem(15);
        }
    
        &-image {
            display: block;
            width: 20%;
            height: rem(250);
            margin-bottom: rem(25);
            position: relative;
            padding: rem(30);
            transition: .25s linear;
            cursor: pointer;
    
            @include media('<=xl') {
                width: 100%;
            }
        
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        
        &-info {
            width: 80%;
            display: flex;
            flex-flow: column nowrap;
    
            @include media('<=xl') {
                justify-content: center;
                align-items: center;
            }
        }
        
        &-quantity {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-right: rem(50);
            
            @include media('<=xl') {
                margin-right: 0;
                margin-bottom: rem(25);
            }
            
            &-label {
                margin-right: rem(10);
            }
            
            &-item {
                font-size: rem(18);
                font-weight: 600;
            }
        }
    }
    
    &__price-box {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: rem(20);
        font-weight: 400;
        margin-bottom: rem(25);
        
        &-price {
            font-weight: 600;
        }
        
        &-sale-price {
            font-weight: 600;
            margin-right: rem(5);
        }
    }
    
    &__tag {
        padding: rem(5) rem(10);
        margin-right: rem(10);
        border-radius: rem(5);
        
        &--sale {
            background-color: $sale;
            color: $white;
        }
        
        &--sold {
            background-color: $sold;
            color: $white;
        }
        
        &--upcoming {
            background-color: $upcoming;
            color: $white;
        }
    }
    
    &__button {
        background: $main;
        font-weight: 600;
        letter-spacing: .025rem;
        cursor: pointer;
        text-align: center;
        
        &:hover, &:focus {
            box-shadow: $standard-shadow;
        }
    }
    
    &__summary {
        margin-top: rem(50);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
        &-value {
            font-size: rem(22);
        }
        
        &-button {
            margin-top: rem(35);
            background: $sale;
            cursor: pointer;
            text-align: center;
            color: $white;
            font-size: rem(22);
            box-shadow: $standard-shadow;
            
            &:hover, &:focus {
                background: $white;
                color: $dark;
            }
        }
    }
}
