@import './mixins';

/* Colors */
$white: #FFFFFF;
$dark: #1E1E1E;

/* Effects */
$nav-bcg: linear-gradient(
        175.14deg,
        rgba(255, 255, 255, 0.075) -30.21%,
        rgba(0, 79, 136, 0.075) 119.25%),
        #FFFFFF;

$nav-border: 0 0 rem(15) rgba(0, 0, 0, 0.1);
$button-shadow: rem(5) rem(5) rem(5) rgba(0, 0, 0, 0.05);

$button-radius: rem(5);

/* Typography */
$inter: 'Inter', sans-serif;
$lato: 'Lato', sans-serif;
