/* Colors */
$white: rgba(255, 255, 255, 1);

/* Effects */
$nav-bcg: linear-gradient(
        175.14deg,
        rgba(255, 255, 255, 0.075) -30.21%,
        rgba(0, 79, 136, 0.075) 119.25%),
        #FFFFFF;

$nav-border: 0 0 rem(15) rgba(0, 0, 0, 0.1);

/* Typography */
$inter: 'Inter', sans-serif;
$lato: 'Lato', sans-serif;
