@import 'styles/settings/init';
@import 'include-media/dist/_include-media.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: $button-radius;
    transition: .15s ease-in all;
    
    &:first-of-type, &:first-child {
        margin-left: 0;
    }
    
    &:last-of-type, &:last-child {
        margin-right: 0;
    }
    
    &--dark, &--cart {
        padding: .75rem .75rem;
        background: $dark;
        cursor: pointer;
        
        &:hover, &:focus {
            background: $white;
            
            img {
                filter: invert(1);
            }
        }
    }
    
    &--light {
        padding: .75rem 2rem;
        border: rem(1) solid $dark;
        
        &:hover, &:focus, &:active {
            background: $dark;
            color: $white;
        }
    }
    
    &--main {
        background: $main;
        color: $white;
    
        &:hover, &:focus, &:active {
            background: $accent;
            color: $dark;
        }
    }
    
    &--accent {
        background: $accent;
        color: $dark;
    
        &:hover, &:focus, &:active {
            background: $main;
            color: $white;
        }
    }
}
