@import 'styles/settings/init';
@import 'include-media/dist/_include-media.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: $button-radius;
    
    &:first-of-type, &:first-child {
        margin-left: 0;
    }
    
    &:last-of-type, &:last-child {
        margin-right: 0;
    }
    
    &--dark, &--cart {
        padding: .5rem .5rem;
        background: $dark;
        cursor: pointer;
    }
    
    &--light {
        padding: .75rem 2rem;
        border: rem(1) solid $dark;
    }
    
    &--main {
        padding: 1rem 2rem;
    }
    
    &--accent {
        padding: 1rem 2rem;
    }
}
